/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(style/images/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  margin-top: 5%;
  font-size: 400%;
}

form {
  margin-top: 8%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #333333;
  color: white;
}

button:hover {
  background: white;
  color: #333333;
}

/* table {
  width: 100%;
  font-size: 150%;
  background-color: #282C34;
  border: 2px white solid;
  color: white;
}

table a {
  text-decoration: none;
  color: white;
	outline: none !important;
  text-decoration: none;
}

table a:hover {
  text-decoration: none;
}

td {
  padding: 2%;
} */
